*{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 50px;
}
.Bd{
    padding: 10px;
    font-size: 50px;
    font-weight: bolder;
    line-height: 38px;
    text-align: left;
}
.btn{
    color: green;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(0, 106, 80);
border-radius: 8px
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    height: 580px;
background: rgb(198, 228, 214);
}
.subtitle p{
    font-size: 24px;
    opacity: 0.6;
}
.title h2{
    font-size: 60px;
    width: 550px;
    padding-top: 16px;
}
.title button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin-left: 57px;
    padding: 15px;
    margin-top: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-container img{
    width: 100%;
    height: 100%;
    margin-right: 20px;
}
.title{
    padding-top: 50px;
}
.title .main-title h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -80px;
}
.sub-title p{
    font-size: 30px;
    opacity: 0.6;
    padding-bottom: 32px; 
    margin-left: -80px;   
}
.card{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.card-1 h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}
.card-1 p{
    font-size: 30px;
    padding-bottom: 30px;
}
.card-1{
    padding-top: 50px;
    text-align: left;
    width: 650px;
    height: 400px;
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.card-2{
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
}
.card-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}
.card-1btn button{
   padding: 15px 28px 15px 29px;
   font-size: 20px;
   margin-left: 30px;
   border-radius: 8px;
   background:rgb(84, 144, 245);
   color: white;
}
.card-2 button{
    padding: 15px 28px 15px 29px;
   font-size: 20px;
   margin-left: 30px;
   border-radius: 8px;
   background:rgb(9, 161, 92);
   color: white;
}
.card-3 button{
    padding: 15px 28px 15px 29px;
   font-size: 20px;
   margin-left: 30px;
   border-radius: 8px;
   background:rgb(255, 194, 57);
   color: white;
}
.recent-news{
    margin-left: -20px;
}
.recent-news h2{
    padding: 10px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
}
.recent-news p{
    padding-top: 20px;
    font-size: 30px;
    opacity: 0.6;
    padding-bottom: 30px;
}
.news-1{
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2500px;
    height: 500px;
}
.img-container-1{
    margin-left: 60px;
    width: 508px;
    height: 306px;
    border-radius: 24px;
background: url(assets/satelite.png);
background-repeat: no-repeat;
}
.title-container h2{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -30px;
}
.title-container p{
    font-size: 20px;
    padding: 10px;
    opacity: 0.6;
}
.title-container img{
    margin-left: -30px;
    margin-bottom: 5px;
}
.title-container{
    margin-left: -80px;
}
.btn-2{
    color: white;
    font-weight: bold;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
background: rgb(0, 106, 80);
}
.news-2{
    display:flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    align-items: center;
    width: 2500px;
    height: 500px;
    padding-top: 20px;
}
.news-2 .title-container{
    margin-left: 60px;
}
